<div class="card mt-5">
  <div class="profile-card m-5">
    <div class="profile-info d-flex">
      <img class="img-responsive center-block mb-5 rounded-circle" src="{{user.image}}"
        style="width: 250px; height: 250px; object-fit: cover; transition: opacity 0.5s; opacity:0;"
        onload="this.style.opacity=1;">
      <div class="profile-info-content ms-5">
        <h5>{{user.name}}</h5>
        <p>{{user.email}}</p>
        <a href="/users/{{user.id}}/edit">
          <button type="button" class="btn btn-primary">Edit</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    總評論數：{{allCommentCount}}
  </div>
  <div class="card-body">
    <h5 class="card-title">評論過的餐廳</h5>
    {{#ifCond allCommentCount 0}}
    <p>沒有評論過的餐廳</p>
    {{else}}
    {{#each commentedRestaurants}}
    <a href="/restaurants/{{this.id}}">
      <img class="img-responsive center-block m-2" src="{{this.image}}"
        style="width: 100px; height: 100px; object-fit: cover; transition: opacity 0.5s; opacity:0;"
        onload="this.style.opacity=1;">
    </a>
    {{/each}}
    {{/ifCond}}
  </div>
</div>

<div class="mt-3">
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</div>